<!-- Basic HTML Page to Add data to MySQL DB-->

<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!---basic page needs-->
    <meta charset="utf-8">
    <title>FilmHouse</title>
    <!-- mobile specific metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--CSS-->
    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/vendor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

    <!--script-->
    <script src="{{ url_for('static',filename='js/modernizr.js') }}"></script>
    <script src="{{ url_for('static',filename='js/pace.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.3/shuffle.js"></script>

    <!-- favicons-->
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">


</head>

<body id="top">

<!--header-->
<header class="short-header">
    <div class="gradient-block"></div>
    <div class="row header-content">
        <div class="logo">
            <a href="/">Movies</a>
        </div>
        <nav id="main-nav-wrap">
            <ul class="main-navigation sf-menu">
                <li class="current"><a href="/" title="">Home</a></li>
                <li class="current"><a href="/admin">Admin</a></li>
                <li class="current"><a href="/logout">Logout</a></li>
            </ul>
        </nav> <!-- end main-nav-wrap -->
        <div class="triggers">
            <a class="menu-toggle" href="#"><span>Menu</span></a>
        </div> <!-- end triggers -->
    </div>
</header> <!--end header -->


<div class="row masonry">

    <!--Json Dynamic load brick-wrapper -->
    <div id="brick_wrapper_format" class="bricks-wrapper">
    </div> <!--end Json Dynamic brick-wrapper -->
</div><!--end row masonry-->


<br><br>
<div class="container">
    <div class="row">
        <div class="col s12 l4">
            <form method="POST" action="{{ url_for('.addMovie') }}">
                <center>

                    <H1>Enter the movie details to add </H1> <br>
                    <table width='480px' align='center'>
                        <tr>
                            <td>Movie Name</td>
                            <td><input type="text" name="movieName" required/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td> Director Name</td>
                            <td><input type="text" name="directorName" required/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Genre</td>
                            <td><input type="text" name="genre" required/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td><input type="text" name="description" required/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Story Plot</td>
                            <td><input type="text" name="para" required/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Image path</td>
                            <td><input type="text" name="image" required/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <!--                                <input type="submit">-->
                        <table>
                            <tr>
                                <td>
                                    <button class="btn btn&#45;&#45;primary" name="postAction" value="submit"
                                            type="submit"
                                            style="line-height:10px;height: auto;margin-right:1px;">Submit
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </table>
                </center>
            </form>
            <!--</BODY> -->
        </div>
    </div>
</div>


<!--footer-->
<footer>
    <div class="footer-main">
        <div class="row">
            <div class="col-four tab-full mob-full footer-info">
                <h4>About Our Site</h4>
                <p>
                    It is a movie listing site that allows users view currently showing movies at Cinemas and upcoming
                    releases across all genres.<br/>
                    <br/>
                <h6>Python CA2 Project By</h6>
                Jayabalaji Rajendran (10537723)<br/>
                Kingsley Asuamah (10527084)<br/>
                Chandana (10539269)
                </p>
            </div>
        </div> <!-- end row footer-main-->
    </div> <!-- end footer-main -->

    <div class="footer-bottom">
        <div class="row">
            <div id="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
            </div>
        </div>
    </div> <!--end footer-bottom -->

</footer>

<div id="preloader">
    <div id="loader"></div>
</div>

<!--Java Script-->
<script src="{{ url_for('static',filename='js/jquery-2.1.3.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static',filename='js/main.js') }}"></script>

</body>

</html>