<!-- Basic HTML Page to Add data to MySQL DB-->

<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!---basic page needs-->
    <meta charset="utf-8">
    <title>DBS WEEKEND THEATER</title>
    <!-- mobile specific metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--CSS-->
    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/vendor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">


    <!--script-->
    <script src="{{ url_for('static',filename='js/modernizr.js') }}"></script>
    <script src="{{ url_for('static',filename='js/pace.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.3/shuffle.js"></script>
    <script type="text/javascript">data = {{ data | safe }}</script>

    <!-- favicons-->
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">


</head>

<body id="top" onload="onLoaderFunc()">

<!--header-->
<header class="short-header">
    <div class="gradient-block"></div>
    <div class="row header-content">
        <div class="logo">
            <a href="/">Movies</a>
        </div>
        <nav id="main-nav-wrap">
            <ul class="main-navigation sf-menu">
                <li class="current"><a href="/" title="">Home</a></li>
                {% if data['logged_in'] == "true" %}
                    <li class="current"><a href="/ticketHistory">Ticket History</a></li>
                    <li class="current"><a href="/logout">Logout</a></li>
                {% elif data['superAdmin'] == "true" %}
                    <li class="current"><a href="/admin">Admin</a></li>
                    <li class="current"><a href="/logout">Logout</a></li>
                {% else %}
                    <li class="current"><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav> <!-- end main-nav-wrap -->
        <div class="triggers">
            <a class="menu-toggle" href="#"><span>Menu</span></a>
        </div> <!-- end triggers -->
    </div>
</header> <!--end header -->
<div class="inputForm" id="inputForm">
    <center>
        <br>
        <H1>Please Choose Date and Seats</H1> <br>
        Date :&nbsp; <input type="text" id="date" required>
        Number of Seats :&nbsp; <input type="number" id="Numseats" required>
        <br/><br/>
    </center>
</div>
<div>
    <center>
        <button class="btn btn--primary" id="selectingButton" style="line-height:10px;height: auto;margin-right:10px;"
                onclick="takeData()">Start Selecting
        </button>
    </center>
</div>


<div class="seatStructure">
    <center>
        <table width='480px' align='center' id="seatsBlock">
            <p id="notification"></p>
            <tr align="center">
                <td colspan="14">
                    <div class="screen">SCREEN</div>
                </td>
                <td rowspan="20">
                    <div class="smallBox greenBox">Selected Seat</div>
                    <br/>
                    <div class="smallBox redBox">Reserved Seat</div>
                    <br/>
                    <div class="smallBox emptyBox">Empty Seat</div>
                    <br/>
                </td>

                <br/>
            </tr>

            <tr>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td></td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
            </tr>

            <tr>
                <td>A</td>
                <td><input type="checkbox" class="seats" id="A1" value="A1"></td>
                <td><input type="checkbox" class="seats" id='A2' value="A2"></td>
                <td><input type="checkbox" class="seats" id='A3' value="A3"></td>
                <td><input type="checkbox" class="seats" id='A4' value="A4"></td>
                <td><input type="checkbox" class="seats" id='A5' value="A5"></td>
                <td class="seatGap"></td>
                <td><input type="checkbox" class="seats" id='A6' value="A6"></td>
                <td><input type="checkbox" class="seats" id='A7' value="A7"></td>
                <td><input type="checkbox" class="seats" id='A8' value="A8"></td>
                <td><input type="checkbox" class="seats" id='A9' value="A9"></td>
                <td><input type="checkbox" class="seats" id='A10' value="A10"></td>
                <td><input type="checkbox" class="seats" id='A11' value="A11"></td>
                <td><input type="checkbox" class="seats" id='A12' value="A12"></td>
            </tr>

            <tr>
                <td>B</td>
                <td><input type="checkbox" class="seats" id='B1' value="B1"></td>
                <td><input type="checkbox" class="seats" id='B2' value="B2"></td>
                <td><input type="checkbox" class="seats" id='B3' value="B3"></td>
                <td><input type="checkbox" class="seats" id='B4' value="B4"></td>
                <td><input type="checkbox" class="seats" id='B5' value="B5"></td>
                <td></td>
                <td><input type="checkbox" class="seats" id='B6' value="B6"></td>
                <td><input type="checkbox" class="seats" id='B7' value="B7"></td>
                <td><input type="checkbox" class="seats" id='B8' value="B8"></td>
                <td><input type="checkbox" class="seats" id='B9' value="B9"></td>
                <td><input type="checkbox" class="seats" id='B10' value="B10"></td>
                <td><input type="checkbox" class="seats" id='B11' value="B11"></td>
                <td><input type="checkbox" class="seats" id='B12' value="B12"></td>
            </tr>

            <tr>
                <td>C</td>
                <td><input type="checkbox" class="seats" id='C1' value="C1"></td>
                <td><input type="checkbox" class="seats" id='C2' value="C2"></td>
                <td><input type="checkbox" class="seats" id='C3' value="C3"></td>
                <td><input type="checkbox" class="seats" id='C4' value="C4"></td>
                <td><input type="checkbox" class="seats" id='C5' value="C5"></td>
                <td></td>
                <td><input type="checkbox" class="seats" id='C6' value="C6"></td>
                <td><input type="checkbox" class="seats" id='C7' value="C7"></td>
                <td><input type="checkbox" class="seats" id='C8' value="C8"></td>
                <td><input type="checkbox" class="seats" id='C9' value="C9"></td>
                <td><input type="checkbox" class="seats" id='C10' value="C10"></td>
                <td><input type="checkbox" class="seats" id='C11' value="C11"></td>
                <td><input type="checkbox" class="seats" id='C12' value="C12"></td>
            </tr>

            <tr>
                <td>D</td>
                <td><input type="checkbox" class="seats" id='D1' value="D1"></td>
                <td><input type="checkbox" class="seats" id='D2' value="D2"></td>
                <td><input type="checkbox" class="seats" id='D3' value="D3"></td>
                <td><input type="checkbox" class="seats" id='D4' value="D4"></td>
                <td><input type="checkbox" class="seats" id='D5' value="D5"></td>
                <td></td>
                <td><input type="checkbox" class="seats" id='D6' value="D6"></td>
                <td><input type="checkbox" class="seats" id='D7' value="D7"></td>
                <td><input type="checkbox" class="seats" id='D8' value="D8"></td>
                <td><input type="checkbox" class="seats" id='D9' value="D9"></td>
                <td><input type="checkbox" class="seats" id='D10' value="D10"></td>
                <td><input type="checkbox" class="seats" id='D11' value="D11"></td>
                <td><input type="checkbox" class="seats" id='D12' value="D12"></td>
            </tr>

            <tr>
                <td>E</td>
                <td><input type="checkbox" class="seats" id='E1' value="E1"></td>
                <td><input type="checkbox" class="seats" id='E2' value="E2"></td>
                <td><input type="checkbox" class="seats" id='E3' value="E3"></td>
                <td><input type="checkbox" class="seats" id='E4' value="E4"></td>
                <td><input type="checkbox" class="seats" id='E5' value="E5"></td>
                <td></td>
                <td><input type="checkbox" class="seats" id='E6' value="E6"></td>
                <td><input type="checkbox" class="seats" id='E7' value="E7"></td>
                <td><input type="checkbox" class="seats" id='E8' value="E8"></td>
                <td><input type="checkbox" class="seats" id='E9' value="E9"></td>
                <td><input type="checkbox" class="seats" id='E10' value="E10"></td>
                <td><input type="checkbox" class="seats" id='E11' value="E11"></td>
                <td><input type="checkbox" class="seats" id='E12' value="E12"></td>
            </tr>

            <tr class="seatVGap"></tr>

            <tr>
                <td>F</td>
                <td><input type="checkbox" class="seats" id='F1' value="F1"></td>
                <td><input type="checkbox" class="seats" id='F2' value="F2"></td>
                <td><input type="checkbox" class="seats" id='F3' value="F3"></td>
                <td><input type="checkbox" class="seats" id='F4' value="F4"></td>
                <td><input type="checkbox" class="seats" id='F5' value="F5"></td>
                <td></td>
                <td><input type="checkbox" class="seats" id='F6' value="F6"></td>
                <td><input type="checkbox" class="seats" id='F7' value="F7"></td>
                <td><input type="checkbox" class="seats" id='F8' value="F8"></td>
                <td><input type="checkbox" class="seats" id='F9' value="F9"></td>
                <td><input type="checkbox" class="seats" id='F10' value="F10"></td>
                <td><input type="checkbox" class="seats" id='F11' value="F11"></td>
                <td><input type="checkbox" class="seats" id='F12' value="F12"></td>
            </tr>

            <tr>
                <td>G</td>
                <td><input type="checkbox" class="seats" id='G1' value="G1"></td>
                <td><input type="checkbox" class="seats" id='G2' value="G2"></td>
                <td><input type="checkbox" class="seats" id='G3' value="G3"></td>
                <td><input type="checkbox" class="seats" id='G4' value="G4"></td>
                <td><input type="checkbox" class="seats" id='G5' value="G5"></td>
                <td></td>
                <td><input type="checkbox" class="seats" id='G6' value="G6"></td>
                <td><input type="checkbox" class="seats" id='G7' value="G7"></td>
                <td><input type="checkbox" class="seats" id='G8' value="G8"></td>
                <td><input type="checkbox" class="seats" id='G9' value="G9"></td>
                <td><input type="checkbox" class="seats" id='G10' value="G10"></td>
                <td><input type="checkbox" class="seats" id='G11' value="G11"></td>
                <td><input type="checkbox" class="seats" id='G12' value="G12"></td>
            </tr>

            <tr>
                <td>H</td>
                <td><input type="checkbox" class="seats" id='H1' value="H1"></td>
                <td><input type="checkbox" class="seats" id='H2' value="H2"></td>
                <td><input type="checkbox" class="seats" id='H3' value="H3"></td>
                <td><input type="checkbox" class="seats" id='H4' value="H4"></td>
                <td><input type="checkbox" class="seats" id='H5' value="H5"></td>
                <td></td>
                <td><input type="checkbox" class="seats" id='H6' value="H6"></td>
                <td><input type="checkbox" class="seats" id='H7' value="H7"></td>
                <td><input type="checkbox" class="seats" id='H8' value="H8"></td>
                <td><input type="checkbox" class="seats" id='H9' value="H9"></td>
                <td><input type="checkbox" class="seats" id='H10' value="H10"></td>
                <td><input type="checkbox" class="seats" id='H11' value="H11"></td>
                <td><input type="checkbox" class="seats" id='H12' value="H12"></td>
            </tr>

            <tr>
                <td>I</td>
                <td><input type="checkbox" class="seats" id='I1' value="I1"></td>
                <td><input type="checkbox" class="seats" id='I2' value="I2"></td>
                <td><input type="checkbox" class="seats" id='I3' value="I3"></td>
                <td><input type="checkbox" class="seats" id='I4' value="I4"></td>
                <td><input type="checkbox" class="seats" id='I5' value="I5"></td>
                <td></td>
                <td><input type="checkbox" class="seats" id='I6' value="I6"></td>
                <td><input type="checkbox" class="seats" id='I7' value="I7"></td>
                <td><input type="checkbox" class="seats" id='I8' value="I8"></td>
                <td><input type="checkbox" class="seats" id='I9' value="I9"></td>
                <td><input type="checkbox" class="seats" id='I10' value="I10"></td>
                <td><input type="checkbox" class="seats" id='I11' value="I11"></td>
                <td><input type="checkbox" class="seats" id='I12' value="I12"></td>
            </tr>

            <tr>
                <td>J</td>
                <td><input type="checkbox" class="seats" id='J1' value="J1"></td>
                <td><input type="checkbox" class="seats" id='J2' value="J2"></td>
                <td><input type="checkbox" class="seats" id='J3' value="J3"></td>
                <td><input type="checkbox" class="seats" id='J4' value="J4"></td>
                <td><input type="checkbox" class="seats" id='J5' value="J5"></td>
                <td></td>
                <td><input type="checkbox" class="seats" id='J6' value="J6"></td>
                <td><input type="checkbox" class="seats" id='J7' value="J7"></td>
                <td><input type="checkbox" class="seats" id='J8' value="J8"></td>
                <td><input type="checkbox" class="seats" id='J9' value="J9"></td>
                <td><input type="checkbox" class="seats" id='J10' value="J10"></td>
                <td><input type="checkbox" class="seats" id='J11' value="J11"></td>
                <td><input type="checkbox" class="seats" id='J12' value="J12"></td>
            </tr>


        </table>

        <br/>
        <button class="btn btn--primary" style="line-height:10px;height: auto;margin-right:10px;" id="confirmSelection"
                onclick="updateTextArea()">Confirm Selection
        </button>
    </center>
</div>

<br/><br/>
<!--footer-->
<footer>
    <div class="footer-main">
        <div class="row">
            <div class="col-four tab-full mob-full footer-info">
                <h4>About Our Site</h4>
                <p>
                    It is a movie listing site that allows users view currently showing movies at Cinemas and upcoming
                    releases across all genres.<br/>
                    <br/>
                <h6>Python CA2 Project By</h6>
                Jayabalaji Rajendran (10537723)<br/>
                Kingsley Asuamah (10527084)<br/>
                Chandana (10539269)
                </p>
            </div>
        </div> <!-- end row footer-main-->
    </div> <!-- end footer-main -->

    <div class="footer-bottom">
        <div class="row">
            <div id="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
            </div>
        </div>
    </div> <!--end footer-bottom -->

</footer>


<!--Java Script-->
<script src="{{ url_for('static',filename='js/jquery-2.1.3.min.js') }}"></script>
<link href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet"/>
<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="{{ url_for('static',filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static',filename='js/bookSeat.js') }}"></script>

</body>

</html>