<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!---basic page needs-->
    <meta charset="utf-8">
    <title>DBS WEEKEND THEATER</title>
    <!-- mobile specific metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/vendor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

    <!--script-->
    <script src="{{ url_for('static',filename='js/modernizr.js') }}"></script>
    <script src="{{ url_for('static',filename='js/pace.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.3/shuffle.js"></script>

    <!-- favicons
   ================================================== -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">


</head>

<body id="top">

<!--header-->
<header class="short-header">
    <div class="gradient-block"></div>
    <div class="row header-content">
        <div class="logo">
            <a href="/">Movies</a>
        </div>
        <nav id="main-nav-wrap">
            <ul class="main-navigation sf-menu">
                <li class="current"><a href="/" title="">Home</a></li>
            </ul>
        </nav> <!-- end main-nav-wrap -->
        <div class="triggers">
            <a class="menu-toggle" href="#"><span>Menu</span></a>
        </div> <!-- end triggers -->
    </div>
</header> <!--end header -->


<div class="row masonry">

    <!--Json Dynamic load brick-wrapper -->
    <div id="brick_wrapper_format" class="bricks-wrapper">
    </div> <!--end Json Dynamic brick-wrapper -->
</div><!--end row masonry-->

<!--Begin Login Modal-->

<!--Begin Login Modal-->
<br><br>
<div class="container">
    <div class="row">
        <div class="col s12 l4">
            <!--<BODY bgcolor="cyan"> -->
            {% block content %}
                <div class="container">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning" style="background: #33ccff; text-align:center;">
                            {{ message }}
                        </div>
                        <br><br>
                    {% endfor %}
                    {% block page_content %}{% endblock %}
                </div>
            {% endblock %}
            <form method="POST" action="{{ url_for('.loginPage') }}">
                <center>
                    <table width='380px' align='center'>
                        <H1>Enter Login Details </H1>
                        <tr>
                            <td> Username</td>
                            <td><input type="text" name="username" value=""/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input type="password" name="password" value=""/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <table>
                            <tr>
                                <td>
                                    <button class="btn btn--primary" name="postAction" value="submit" type="submit"
                                            style="line-height:10px;height: auto;margin-left:80px;">Submit
                                    </button>
                                    <button class="btn btn--primary" name="postAction" value="create"
                                            style="line-height:10px;height: auto;margin-right:1px;">Create
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </table>
                    <!-- <input type="submit"> -->
                </center>
            </form>
            <!--</BODY> -->
        </div>
    </div>
</div>


<!--End Login Modal -->

<!--footer-->
<footer>
    <div class="footer-main">
        <div class="row">
            <div class="col-four tab-full mob-full footer-info">
                <h4>About Our Site</h4>
                <p>
                    It is a movie listing site that allows users view currently showing movies at Cinemas and upcoming
                    releases across all genres.<br/>
                    <br/>
                <h6>Python CA2 Project</h6>
                By<br/>
                Jayabalaji Rajendran (10537723)<br/>
                Kingsley Asuamah (10527084)<br/>
                Chandana (10539269)
                </p>
            </div>
        </div> <!-- end row footer-main-->
    </div> <!-- end footer-main -->

    <div class="footer-bottom">
        <div class="row">
            <div id="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
            </div>
        </div>
    </div> <!--end footer-bottom -->

</footer>

<div id="preloader">
    <div id="loader"></div>
</div>

<!--Java Script-->
<script src="{{ url_for('static',filename='js/jquery-2.1.3.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static',filename='js/main.js') }}"></script>

</body>

</html>