<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!---basic page needs-->
    <meta charset="utf-8">
    <title>DBS WEEKEND THEATER</title>
    <!-- mobile specific metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/vendor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

    <!--script-->
    <script src="{{ url_for('static',filename='js/modernizr.js') }}"></script>
    <script src="{{ url_for('static',filename='js/pace.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.3/shuffle.js"></script>
    <script type="text/javascript">data = {{ data | safe }}</script>

    <!-- favicons-->
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">


</head>

<body id="top">
<!--header-->
<header class="short-header">
    <div class="gradient-block"></div>
    <div class="row header-content">
        <div class="logo">
            <a href="/">Movies</a>
        </div>
        <nav id="main-nav-wrap">
            <ul class="main-navigation sf-menu">
                <li class="current"><a href="/" title="">Home</a></li>
                {% if data['logged_in'] == "true" %}
                    <li class="current"><a href="/ticketHistory">Ticket History</a></li>
                    <li class="current"><a href="/logout">Logout</a></li>
                {% elif data['superAdmin'] == "true" %}
                    <li class="current"><a href="/admin">Admin</a></li>
                    <li class="current"><a href="/logout">Logout</a></li>
                {% else %}
                    <li class="current"><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav> <!-- end main-nav-wrap -->
        <div class="triggers">
            <a class="menu-toggle" href="#"><span>Menu</span></a>
        </div> <!-- end triggers -->
    </div>
</header> <!--end header -->
<!--masonry-->
<section id="bricks">
    <div class="container">
        <div class="row masonry">
            <!--Json Dynamic load brick-wrapper -->
            <div id="brick_wrapper_format" class="bricks-wrapper">
            </div> <!--end Json Dynamic brick-wrapper -->
        </div><!--end row masonry-->
    </div>
</section> <!--end bricks -->


<!--footer-->
<footer>
    <div class="footer-main">
        <div class="row">
            <div class="col-four tab-full mob-full footer-info">
                <h4>About Our Site</h4>
                <p>
                    It is a movie listing site that allows users view currently showing movies at Cinemas and upcoming
                    releases across all genres.<br/>
                    <br/>
                <h6>Python CA2 Project By</h6>
                Jayabalaji Rajendran (10537723)<br/>
                Kingsley Asuamah (10527084)<br/>
                Chandana (10539269)
                </p>
            </div>
        </div> <!-- end row footer-main-->
    </div> <!-- end footer-main -->

    <div class="footer-bottom">
        <div class="row">
            <div id="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
            </div>
        </div>
    </div> <!--end footer-bottom -->

</footer>

<div id="preloader">
    <div id="loader"></div>
</div>

<!--Java Script-->
<script src="{{ url_for('static',filename='js/jquery-2.1.3.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static',filename='js/ticketHistory.js') }}"></script>

</body>

</html>
